@font-face {
  font-family: "cairofont";
  src: url(../fonts/Cairo-Regular.ttf);
}

.banner-blog {
  #banner-img {
    background-image: url(../images/banner-blog.jpg);
  }
}

.search-box {
  .form-mine {
    font-family: "cairofont";
  }
}

.posts {
  .search-box {
    padding: 15px;
    margin-top: 5px;
    box-shadow: 0px 1px 1px 1px #040273;
  }
}
 
.form-control {
    &:focus{
        border-color: #040273;
        box-shadow: none !important;    
    }
}

.posts-details{
  .card{
    .card-body {
      .card-text {
        color: #000;
      }
      .card-title{
        font-weight: 800;
        color: $main-color;
      }
    }
  }
  .post-share {
    color: $main-color;
  }
}
.one-social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $main-color ;
  color: $main-color;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  float: left;
}

.facebook-social {
  &:hover,
  &:focus{
    color: white;
    background-color: #385998;
  }
}

.twitter-social {
  &:hover,
  &:focus{
    color: white;
    background-color: #1da1f2;
  }
}

.linkedin-social {
  &:hover,
  &:focus{
    color: white;
    background-color: #0077b0;
  }
}

.add-blog {
  label{
    &:first-child{
      font-size: 14px;
      font-weight: bold;
    }
  }
}